<header>
    <nav class="flex justify-between items-center flex-wrap">
        <!-- <img class="max-w-[200px] w-full" src="imagenes/logos/logoh.svg" alt="Logo Uach Masivos"> -->
        
        <ul class="flex gap-6">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <div class="flex gap-6">
            <a class="btn btn-primary" href="/login">Login</a>
            <a class="btn btn-outline" href="/register">Register</a>
        </div>
    </nav>
</header>