{% include 'layout/head.html' %}
<body class="flex flex-col min-h-screen">
    {% include 'layout/navbar.html' %}
    
        {% block content %}
        <main class="container mx-auto">
            <h2>Energias Renovables</h2>
            <p>Las energías renovables son fuentes de energía que se obtienen de recursos naturales capaces de renovarse por medios naturales. Estos incluyen el sol, el viento, el agua, la biomasa y el calor geotérmico de la tierra. A diferencia de los combustibles fósiles, que pueden tardar millones de años en formarse y son limitados, las energías renovables son prácticamente inagotables a escala humana. Su uso es fundamental para reducir la dependencia de los combustibles fósiles, disminuir las emisiones de gases de efecto invernadero y combatir el cambio climático.</p>

            <p>Uno de los grandes avances en la utilización de energías renovables ha sido el desarrollo y mejora de tecnologías como los paneles solares y las turbinas eólicas. Los paneles solares, por ejemplo, convierten la luz solar directamente en electricidad mediante el efecto fotovoltaico, mientras que las turbinas eólicas generan energía a partir del movimiento del aire. Estas tecnologías no solo son más limpias, sino que también se han vuelto más eficientes y económicas con el tiempo, facilitando su adopción a nivel mundial y promoviendo una transición energética hacia un modelo más sostenible.</p>
        </main>

        <section class="container mx-auto">
            <h2>Inteligencia Artificial</h2>
            <p>La inteligencia artificial (IA) se refiere al campo de estudio que busca crear máquinas capaces de realizar tareas que normalmente requerirían inteligencia humana. Estas tareas incluyen el aprendizaje, el razonamiento, la percepción, la comprensión del lenguaje y la toma de decisiones. La IA se divide en dos categorías principales: la IA general, que puede realizar cualquier tarea cognitiva humana, y la IA específica, diseñada para realizar tareas específicas. La IA se aplica en una variedad de sectores, desde la medicina y la robótica hasta las finanzas y el entretenimiento, transformando procesos y mejorando eficiencias.</p>

            <p>Uno de los desarrollos más impactantes de la IA en los últimos años ha sido el aprendizaje profundo, una forma de aprendizaje automático que imita la forma en que los seres humanos adquieren ciertos tipos de conocimientos. Las redes neuronales profundas, que son algoritmos inspirados en la estructura y función del cerebro humano, han permitido grandes avances en áreas como el reconocimiento de imágenes y el procesamiento del lenguaje natural. Estos avances han llevado a aplicaciones prácticas como los asistentes virtuales inteligentes, los sistemas de recomendación personalizada y los vehículos autónomos, entre otros.</p>
        </section>

        {% endblock %}

    {% include 'layout/footer.html' %}
</body>
</html>